{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Becoming a Buggl Guide {% endblock %}

{% block main_content %}    
    <div class="row">
        <article class="column grid_12">
            <div class="row">
                <section class="column grid_12">
                    <div class="row">
                        <section class="column grid_8">
                            <div class="db_box">
                            	<h2>Become a Buggl Guide</h2>
                                <img src="{{ asset('bundles/bugglmain/images/custom/join_620px.jpg') }}" border="0" align="right" alt="" class="fl">                             
                            </div>
                            <div class="db_box">
                                <img src="{{asset('bundles/bugglmain/images/custom/300_200.jpg')}}" border="0" align="right" alt="" class="fr">
                                <h2>Who are the Buggl Guides</h2>
                                <p class="sp"><em>Painters, historians, musicians, 
                                professional tour guides, journalists, 
                                architects, foodies, Peace Corps 
                                volunteers, social workers, students, 
                                administrative assistants, 
                                philanthropists, writers, taxi drivers, 
                                engineers, teachers, poets, designers, 
                                business executives, chefs, travelers, 
                                bloggers, pilots, farmers, dancers 
                                and more.</em></p>
                            </div>
                            <div class="db_box">
                                <h2>The Buggl Guides standard of quality</h2>
                                <ul class="sp">
                                    <li><p><em>Quisque pellentesque congue aliquam. Donec condimentum, justo in consequat adipiscing.</em></p></li>
                                    <li><p><em>Donec hendrerit, ligula ac euismod convallis, ante eros aliquet lacus, a pretium nisl tortor a libero.</em></p></li>
                                    <li><p><em>Aenean tincidunt, eros et cursus pretium, erat tellus volutpat mauris.</em></p></li>
                                    <li><p><em>Nulla libero massa, semper a rhoncus sit amet, egestas et ante.</em></p></li>
                                </ul>
                            </div>
                            <div class="db_box">
                                <h2>Why become a Buggl Guide?</h2>
                                <p class="sp"><em>At the heart of every movement is a group of individuals who embody the change 
                                they want to see in the world. For Buggl, these people are our guides. They are empowering themselves to make a living doing what they know and love. They are 
                                making the world a better place by inviting the rest of us to enjoy new experiences and develop new ways of seeing the world.</em></p>
                                <ul class="square">
                                    <li>
                                        <h3><em class="sp">Meet great people.</em></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. 
                                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                    </li>
                                    <li>
                                        <h3><em class="sp">Earn money.</em></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. 
                                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                    </li>
                                    <li>
                                        <h3><em class="sp">Share your world.</em></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. 
                                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                    </li>
                                    <li>
                                        <h3><em class="sp">Gain notoriety.</em></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. 
                                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                    </li>                                                                               
                                </ul>
                                
                            </div>                              
                            <div class="db_box">
                                <h2>Buggl provides guides with many great tools</h2>
                                <ul class="sp">
                                    <li><p><em>Quisque pellentesque congue aliquam. Donec condimentum, justo in consequat adipiscing.</em></p></li>
                                    <li><p><em>Donec hendrerit, ligula ac euismod convallis, ante eros aliquet lacus, a pretium nisl tortor a libero.</em></p></li>
                                    <li><p><em>Aenean tincidunt, eros et cursus pretium, erat tellus volutpat mauris.</em></p></li>
                                    <li><p><em>Nulla libero massa, semper a rhoncus sit amet, egestas et ante.</em></p></li>
                                </ul>
                            </div>
                            {% block reviews %}
                            <div class="db_box">
                                <h2>Reviews</h2>
                                <ul class="comments">
                                    <li>
                                        <img border="0" align="left" src="{{asset('bundles/bugglmain/images/custom/janvan_60px.jpg')}}">
                                        <p><a class="name" href="#">Jan Van La Lou</a>Everything was all right. The room was clean and nice and Adele is very kind person. She recommended us what we needed to know.</p>
                                    </li>
                                    <li>
                                        <img border="0" align="left" src="{{asset('bundles/bugglmain/images/custom/xtina_60px.jpg')}}">
                                        <p><a class="name" href="#">Xtina</a>This was our first time using buggl and it was a great experience! The arrangements were easy to make and all went smoothly. Adele was a wonderful host. What a sweet person and very                                                  helpful and interesting. Her apartment is in a great location.. <a href="">show more</a></p></li>
                                    <li>
                                        <img border="0" align="left" src="{{asset('bundles/bugglmain/images/custom/matt_60px.jpg')}}">
                                        <p><a class="name" href="#">Matt</a>This was our first time using buggl and it was a great experience! The arrangements were easy to make and all went smoothly. Adele was a wonderful host. What a sweet person and very helpful                                           and interesting. Her apartment is in a great location.. <a href="">show more</a></p>
                                    </li>                       
                                </ul>
                            </div>
                            {% endblock %}  
                            <div class="db_box">
                                <h1>Hurry up and be a Buggl Guide...</h1>
                                <p class="join"><a href="{{ path('registration') }}">Become a Buggl Guide Now!</a></p>
                            </div>                          
                        </section>
                        <aside class="column grid_4">
                            <section class="sidelist">
                                <ul>
                                    <li class="selected"><a href="#"><span class="ico"></span>Become a Buggl Guide</a></li>
                                    <li><a href="#"><span class="ico"></span>How does Buggl Work? </a></li>
                                </ul>
                            </section>
                        </aside>
                    </div>
                </section>
            </div>
        </article>
    </div>
{% endblock %}