{% extends "BugglMainBundle:Markup/Markup:resultPage.html.twig" %}

{% block title %}Buggl - Travel Guides{% endblock %}

{% block breadcrumbs %}
    {% include 'BugglMainBundle:Frontend/Main:breadcrumbs.html.twig'
        with {'current': breadcrumbs.current, 'links': breadcrumbs.links, 'showAddThisWidget' : false} %}
{% endblock %}

{% block search_fields %}
    <section class="search">
    	<h3>Filter</h3>
        <form action="{{ path('buggl_guide_search') }}" method="post">
	        <div class="select">
	            <select name="country_search">
	                <option value="0">Country</option>
	                {% for country in countries %}
	                    <option value="{{ country.id }}" {% if country.id == countryId %} selected {% endif %} >{{ country.name }}</option>
	                {% endfor %}
	            </select>
			</div>
            <div class="select">
	            <select name="activity_search">
	                {% for activity in activities %}
	                    <option value="{{ activity.id }}" {% if activity.id == activityId %} selected {% endif %} >{{ activity.name }}</option>
	                {% endfor %}
	            </select>
            </div>
            <div class="select">
	            <select name="duration">
	                <option value="0">Duration</option>
	                {% for each in duration %}
	                    <option value="{{ each.id }}" {% if each.id == durationId %} selected {% endif %}>{{ each.name }}</option>
	                {% endfor %}
	            </select>
            </div>
            <div class="select">
	            <select name="theme">
	                <option value="0">Trip Theme</option>
	                {% for each in themes %}
	                    <option value="{{ each.id }}" {% if each.id == themeId %} selected {% endif %}>{{ each.name }}</option>
	                {% endfor %}
	            </select>
            </div>
            <div class="budget-range">
            	<h3>Budget</h3>
                {% include 'BugglMainBundle:LocalAuthor/Misc:budgetChooser.html.twig' with { defaultSelect : budget }%}
            </div>
            <a class="btn fl" href="#" id="search">Search</a>
        </form>
    </section>
{% endblock %}

{% block result_pagination %}
    {% if count > 1 %}
        {% render 'BugglMainBundle:Frontend/Guide:pagination' with {page:page,count:count,baseUrl:baseUrl} %}
    {% endif %}
{% endblock %}

{% block result_guides %}
	<section class="results-guide-list travelguide">
    {% if guides|length %}
        {% for guide in guides %}
            {% include 'BugglMainBundle:Frontend/Guide:guideList.html.twig' with {guide:guide} %}
        {% endfor %}
    {% else %}
        <p class="inform">No Results Found, You can request a guide for this country just fill up the form below:</p>

        {% if authenticated %}
            {% include 'BugglMainBundle:Frontend/Guide:requestForm.html.twig' %}
        {% else %}
            <a id="login" href="">Login to request guide</a>
        {% endif %}
    {% endif %}
	</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	
	{% javascripts
		'@BugglMainBundle/Resources/public/js/jquery.budget-chooser.js'
		filter='?yui_js'
	%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
				$(".budget").budgetChooser({
					'inputname' : 'budget'
				});
                /*$("a[name=budget-range]").click(function(event){
                    event.preventDefault();

                    $("a[name=budget-range]").parent().removeClass("budget-on");
                    $(this).parent().addClass("budget-on").prevAll().addClass("budget-on");

                    var value= $(this).attr("data-budget");
                    $("input[name=budget]").val(value);
                });

                $("a[name=budget-range]").hover(
                    function(e){
                        $('a[name=budget-range]').parent().removeClass('budget-hover');
                        $(this).parent().addClass('budget-hover').prevAll().addClass('budget-hover');
                    }
                );*/

                $('span.star-rating').parent('div').on('mouseleave',function(){
                    $('span.star-rating').removeClass('star-hover');
                });


                $('#search').on('click',function(event){
                    event.preventDefault();

                    $(this).parents('form').submit();
                });

                $('a#login').on('click',function(event){
                    event.preventDefault();
                    $('div.login').reveal();
                });
            });
        })(jQuery);
    </script>
    <script src='{{ asset('bundles/bugglmain/js/Frontend/eguiderequest.js') }}' type='text/javascript'> </script>
{% endblock %}