{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %}Buggl | Search Travel Guides {% endblock %}
{% block main_content %}
	<div class="row">
		<article class="column grid_12" id="result_content">
			{% include 'BugglMainBundle:Frontend/Search:guideList.html.twig' with {results:results} %}
		</article>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/bugglmain/js/Frontend/eguiderequest.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/bugglmain/js/jquery.budget-chooser.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".budget").budgetChooser({
				'inputname' : 'budgetserial'
			});
		});
		
		$('#loginButton').on('click',function(event){
            event.preventDefault();

            $('div.login').reveal();
        });

        $('#signUpButton').on('click',function(event){
            event.preventDefault();

            $('div.signup').reveal();
        });
	</script>

    <script data-main="{{ asset('bundles/bugglmain/js/Frontend/search/loadMore.js') }}" src="{{ asset('bundles/bugglmain/js/Frontend/search/require.js') }}"></script>
{% endblock %}