{#{% for message in messages %}
	{% set messageToUser = message %}
	{% if message is not null %}
			<a id="#" href="{{ path('e_guide_view_message', {'slug':message.user.slug, 'id': message.id ,'type':activeTab}) }}" class="{% if message.status == 0 %}unread{% else %}read{% endif %}">
				<span class="name">{{ message.user.name }}</span>
				<span>Guide Request - {{ message.country.name }}</span>
				<span class="time fr"><strong>{{ message.dateadded|date('m-d-Y | h:iA') }}</strong></span>
			</a>
	{% else %}
		<div class="no-message reg_box">
			<p>You have no messages</p>
		</div>
	{% endif %}		 
{% endfor %}  #}  
{% for messageThreadToUser in threads %}
		{% set messageToUser = messageThreadToUser | latestMessage %}
		{% if messageToUser is not null %}
			<a class="{{ messageToUser.status | selected(0,'unread') }}" href="{{ path('local_author_messages_eguide_thread',{'type':activeTab,'messageThreadToUserId':messageThreadToUser.id}) }}" id={{ 'thread_'~messageToUser.id }}>
				<span class="name">{{ messageToUser.sender.name }}</span>
				<span>{{ (messageThreadToUser.thread.subject ~ ' - ' ~ messageToUser.message.content) | truncate(40) }} </span>
				<span class="time fr">{{ messageToUser.message.dateCreated | showTimeElapsed }}</span>
			</a>
		{% endif %}
	{% else %}
		<div class="no-message reg_box">
			<p>You have no messages</p>
		</div>
	{% endfor %}
       
 
