{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Password Reset{% endblock %}

{% block main_content %}
	<div id="seventh" class="expert-subscription">
		<div class="story">
	    	<div class="subscribe-form">
				{{ form_errors(form) }} 
				<form action="" method="post">
					<div class="form-section">
						<span>
							<label>Email used for registration</label>		
						    {{ form_widget(form.email) }}
							{{ form_errors(form.email) }}
						</span>
					</div>
					<div class="form-section">
						<span>
							<label>New Password</label>		
						    {{ form_widget(form.password.first) }}
							{{ form_errors(form.password.first) }}
						</span>
					</div>
					<div class="form-section">
						<span>
							<label>Confirm New Password</label>		
						    {{ form_widget(form.password.second) }}
							{{ form_errors(form.password.second) }}
						</span>
					</div>	
							
					{{ form_rest( form ) }}
					<div class="form-section submit-section">
						<input id="subscribe_button" class="button" type="submit" value="Submit" />					
					</div>
				</form>
			</div>
	    </div>
	</div> 
{% endblock %}