{% extends "BugglMainBundle:Markup/Markup:adminMessagesLayout.html.twig" %}

{% block title %}Contact Us{% endblock %}

{% block list %}
    <div id="main_content"></div>
{% endblock %}

{% block script_template %}
    <script type="text/template" id="message_list_container">
        <ul class="eguide-list site-admin-list">
        </ul>
    </script>

    <script type="text/template" id="contact_us_list">
        <div class="to-left">
            <h3>{{ '<%= email %>' }}</h3>
            <span>Message: {{ '<%= message %>' }}</span>
            <span class="d">{{ '<%= date %>' }}
        </div>
    </script>

    <script type="text/template" id="pagination_template">
        <section class="page bugglPagination">
            <nav class="fr">
                <% if(totalPages > 1){ %>
                    <a href="{{ '<%= prev %>' }}" class="bugglPaginationLink">&lsaquo;</a>
                    <% if(startPage > 1) { %>
                        <a href="1" class="bugglPaginationLink">1</a>
                        <a href="{{ '<%= startPage - 1 %>' }}" class="bugglPaginationLink">...</a>
                    <% } %>

                    <% _.each(_.range(startPage,endPage+1), function(page){ %>
                        <a href="{{ '<%= page %>' }}" class="bugglPaginationLink {{ '<%= page == currentPage? "selected" : "" %>' }}">{{ '<%= page  %>' }}</a>
                    <% }); %>

                    <% if (endPage < totalPages) { %>
                        <a href="{{ '<%= endPage + 1 %>' }}" class="bugglPaginationLink">...</a>
                        <a href="{{ '<%= totalPages %>' }}" class="bugglPaginationLink"> {{  '<%= totalPages %>' }}</a>
                    <% } %>
                    <a href="{{ '<%= next %>' }}" class="bugglPaginationLink">&rsaquo;</a>
                <% } %>
            </nav>
        </section>
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>

    {% javascripts '@BugglMainBundle/Resources/public/js/Admin/backbone.contactus.js' filter='?yui_js' %}
        <script src="{{ asset_url }}"></script>
        <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    $.contact({
                        fetchUrl: "{{ path('admin_fetch_contact_us') }}"
                    });

                    var messages = new Messages();
                    var parameters = new Parameters({
                        page: 1
                    });
                    var paginationModel = new PaginationModel({
                        limit : {{ limit }},
                        totalCount: 0
                    });
                    var messagesView = new MessagesView({
                        messages: messages,
                        pagination: paginationModel,
                        parameters: parameters
                    });

                    var paginationView = new PaginationView({
                        model: paginationModel,
                        parameters: parameters
                    });

                    messages.fetch({
                        type: 'post',
                        data: parameters.toJSON()
                    });

                });
            })(jQuery);
        </script>
    {% endjavascripts %}
{% endblock %}