{% extends "::base.html.twig" %}

{% block footer %}
    <footer class="footer">
        {% block upper_footer %}
        <article class="row">
            <section class="column grid_8">
                <div class="row">
                    {% block buggl_picks %}
                        {% render "BugglMainBundle:Frontend/Main:footer" %}
                    {% endblock %}
                    <div class="column grid_2">
						<h3 class="stnd">Discover<span class="ico"></span></h3>
						<ul class="box">
							<li><a href="{{ path('buggl_static_our_mission') }}">Our Mission</a></li>
							<li><a href="{{ path('buggl_static_our_tribe') }}">Our Tribe</a></li>
							<li><a href="{{ path('buggl_write_a_guide') }}">Design A Guide</a></li>
							<li><a href="{{ path('buggl_how_it_works') }}">How it Works</a></li>
							<li><a href="{{ path('buggl_static_faq') }}">F.A.Q.</a></li>
						</ul>
                    </div>
               		<div class="column grid_2">
               			<h3 class="stnd">Company<span class="ico"></span></h3>
               			<ul class="box">
                		    <li><a href="{{ path('buggl_static_jobs') }}">Jobs</a></li>
                		    <li><a href="{{ path('buggl_static_press') }}">Press</a></li>
                		    <li><a href="/blog">Blog</a></li>
                		    <li><a href="{{ path('buggl_static_contact_us') }}">Contact Us</a></li>
                		</ul>
                    </div>
                </div>
            </section>
            <section class="column grid_4">
                <h2><img src="{{ asset('bundles/bugglmain/images/buggl_logo_gry.png') }}" border="0" align="left" width="250" alt=" "></h2>
                <p>Buggl is a marketplace of travel influencers creating tailor-made trip itineraries for travelers worldwide.</p>
                <div class="social">
					<a class="fb" href="https://www.facebook.com/mybuggl" target="_blank">like us on facebook</a>
					<a class="tw" href="https://twitter.com/Buggl" target="_blank">follow us on twitter</a>
					<a class="pinterest" href="http://www.pinterest.com/buggl/" target="_blank">Pinterest</a>
				</div>
            </section>
        </article>
        {% endblock %}
        {% block lowest_footer %}
        <div class="row">
            <nav class="column grid_12">
                <a href="{{ path('buggl_homepage') }}"><img src="{{ asset('bundles/bugglmain/images/buggl_logo_gry.png') }}" border="0" align="left" width="120" alt="buggl"></a>
                <p class="legal">
					<span>&copy; 2015 Buggl, All Rights Reserved.</span>
					<a href="{{ path('buggl_static_privacy_policy') }}">Privacy Policy</a>
					<a href="{{ path('buggl_static_terms') }}">Terms of Use</a>
				</p>
            </nav>
        </article>
        {% endblock %}
    </footer>
{% endblock %}