{% extends "BugglMainBundle:LocalAuthor:localAuthorLayout.html.twig" %}

{% block title %}My Travel Guides | {{ activeTab | capitalize }}{% endblock %}

{% block precontent_title %}
	Travel Guides
{% endblock %}


{% set  active = 'eguides' %}


{% block main_content %}
	<div class="row">
		<aside class="column grid_4">
			{% include 'BugglMainBundle:LocalAuthor/Eguides:eguideTabs.html.twig' with {'active':activeTab, 'counts' : counts} %}
		</aside>
		<article class="column grid_8">
			<section class="travelguide">
				<h3> {{ activeTab|capitalize }} Travel Guides </h3>
				{% render 'BugglMainBundle:LocalAuthor/Pagination:pagination' with {'currentPage':currentPage,'softPageLimit':softPageLimit,'hardPageLimit':hardPageLimit,'itemCount':paginator|length,'dataUrl':'', 'itemLimit':itemLimit} %}
			{% block guideList %}
			{% for eguide in paginator %}
					<div>{% if eguide.status=='10' %}
					<div>hii</div>
					{% endif %}
						<div class="reg_box clearfix">
							<img src="{{ asset(eguide | getEguidePhoto) }}" border="0" align="right" alt=" " width="140" height="210" class="fr">
							<h2 class="title">
								{% if eguide.status == 'published' | constant %}
									<a href="{{ path('buggl_eguide_overview', {'slug': eguide.slug}) }}">{{ eguide.plainTitle }} </a>
								{% else %}
									<a href="{{ path('travel_guide_cover_page', {'travel_guide_id' : eguide.id }) }}">{{ eguide.plainTitle }} </a>
								{% endif %}
							</h2>
							
							<ul class="location">
							{% for location in eguide.getLocations %}
								<li>{{location.address}}</li>
							{% endfor %}
							</ul>
							
							<ul class="rating">
								<li class="star fl">
									<span class="ico"></span>
									<span class="ico"></span>
									<span class="ico"></span>
									<span class="ico"></span>
								</li>
								<li class="price">{{ eguide.price | renderPrice }}</li>
							</ul>
							<!-- <p> <img src="{{ asset('bundles/bugglmain/images/custom/220_136.jpg') }}" border="0" align="right" alt=" " class="fl">
							There is evidence of human habitation in Thailand that has been dated at 40,000 years before the present. Similar to other regions in Southeast Asia, Thailand was heavily influenced by the culture and religions of India...</p> -->
							{{ eguide.excerpts|raw }}
						</div>
						<div class="sml_box">
							<div class="facts fl">
								{#
								<a href="#"><span>Duration:</span>{{ eguide.duration.name }}</a>
								#}
								<a href="#"><span>Trip Theme:</span>{{ eguide.tripTheme.name }}</a>
								<a href="#">{#{ eguide.goodFor.name }#}
									<span>Good For:</span>
									{{ eguide | getGoodFor }}
								</a>
								<a href="#"><span>Date Updated:</span>{{ eguide.dateUpdated|date('M d, Y')}}</a>
							</div>
						</div>
						<div class="reg_box">
							{% include 'BugglMainBundle:LocalAuthor/Eguides:eguideActions.html.twig' with {'active':activeTab,'eguide':eguide} %}
						</div>
					</div>
			{% else %}
				<p class="inform">No records found!</p>
			{% endfor %}
			{% render 'BugglMainBundle:LocalAuthor/Pagination:pagination' with {'currentPage':currentPage,'softPageLimit':softPageLimit,'hardPageLimit':hardPageLimit,'itemCount':paginator|length,'dataUrl':'', 'itemLimit':itemLimit} %}
		{% endblock %}
		</section>
		</article>
	</div>
	{% if app.user.isLocalAuthor %}
<div id="reqcount" class="reveal-modal">
<h2>  <a class="close-reveal-modal">&#215;</a> </h2>
    <div class="content">
   
<a href="{{ path('e_guide_request') }}" class="guide-request {% if newRequestCount %}red{% endif %}"><span class="ico"></span> You have {{ newRequestCount }} new Itinerary Request{{ newRequestCount != 1 ? 's' : '' }}</a>
</div></div>{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
        (function($){
            $(document).ready(function(){ if({{newRequestCount}}>=1)
{		
	$("div#reqcount").reveal();
}
				// this is exactly the same in references.js consider refactoring
				$('.feature').on('click',function(e){
					e.preventDefault();
					var me = $(this);

					$.fn.bugglConfirm({
						'onConfirm' : function(){
							me.hide();
							me.siblings('span.loader').show();
							$.getJSON(me.attr('href'),function(response){
								me.siblings('span.loader').hide();
								$.fn.bugglAlert({
									'title' : response.status,
									'content' : '<p>'+response.message+'</p>',
									'revealOptions' : {
										'closeOnBackgroundClick':false,
										'closed':function(){
											if(response.status == 'SUCCESS')
												me.siblings('.feature').show();
											else
												me.show();
										}
									}
								});
							});
						}
					});
				});
				
				$('.deleteGuideButton').on('click',function(e){
					e.preventDefault();
					var me = $(this);
					
					$.fn.bugglConfirm({
						'onConfirm' : function(){
							window.location.replace(me.attr('href'));
						}
					});
				});
            });
        })(jQuery);
    </script>
{% endblock %}
