<aside class="column grid_4">
    <section class="sidelist">
        <ul>
            <li class="{{selectedNav|selected('press-release')}}">
                <a href="{{ path('buggl_static_press_release') }}"><span class="ico"></span>Press Release</a>
            </li>
            <li class="{{selectedNav|selected('our-story')}}">
                <a href="{{ path('buggl_static_our_story') }}"><span class="ico"></span>Our Story</a>
            </li>
            <li class="{{selectedNav|selected('our-mission')}}">
                <a href="{{ path('buggl_static_our_mission') }}"><span class="ico"></span>Our Mission</a>
            </li>
            <li class="{{selectedNav|selected('about-us')}}">
                <a href="{{ path('buggl_static_about_us') }}"><span class="ico"></span>The Buggl Team</a>
            </li>
            <li class="{{selectedNav|selected('contact-us')}}">
                <a href="{{ path('buggl_static_contact_us') }}"><span class="ico"></span>Contact Us</a>
            </li>
        </ul>
    </section>
</aside>