<style type="text/css">
.pricing-box {
    border: 1px solid #ccc;
    float: left;
    margin: 0 1%;
    text-align: center;
    width: 45%;
}
.steps-section{ width:720px; height:auto; float:left; font-family: "Noto Sans",sans-serif; margin:15px 40px 0px 40px;}
.step-block{ width:144px; height:100px; float:left;}
.step-block .number-block { width:50px; height:50px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; margin:0 auto; background-color:#cccccc; color:#ffffff; font-weight:bold; text-align:center; line-height:50px; font-size:18px;}
.clear{ clear:both;}
.step-block .step-label { text-align:center; width:100%; padding-top:5px; color:#444444; font-size:16px;}
.step-line-box { width:144px; height:90px; float:left; position:relative;}
.step-line{ height:3px; width:238px; background-color:#ccc; position:absolute; top:25px; left: -47px;}
.active-circle { background-color:#00a2ff !important;}
.para{text-align: justify;min-height: 84px;}
.pricing-box  .button{
    float: none;
    line-height: 27px;
    margin: 0 auto;
    padding-top: 5px;

}
.newreq {
    padding: 2px !important;
   
}
.pricing-box h4 {
    font-size: 20px;
}


.pricing-box h5 {
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 20px;
}


.pricing-box .join {
    margin-top: 30px;
}
.totalprice {margin-top: 10px !important; font-weight:bold;margin-left: 77px !important;}
#req .custom-eguide-request .desp-row .notif {top:-30px;}
#request_form #messagenotif11.warning-notif { left:-28px;}
#rangebox input , input[name="cvc"][type="password"], input[name="card"][type="text"] {-webkit-appearance: none; and -moz-appearance: none;}  
.warning-notif{color: red;font-style: italic;}
.wrapper {height: 38px !important;}
#jrange input {  width: 435px !important; margin-left: 163px !important;}
.custom-eguide-request {margin: 0 auto !important;} 

#req .custom-eguide-request #notif_id
{
    text-align:center;
    top:-70px;
}

.check-hide1, .check-hide2 { display:none; float: left;  padding-right: 5px;}

.reveal-modal .new_notif {
    position: relative;
    text-align: center;
}
.reveal-modal .new_notif span {
    position: absolute;
    right: 145px;
    top: -70px;
}
.framed2-header {
    background-color: #fdfdfd;
    background-image: linear-gradient(to bottom, #fff, #fafafa);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #eee;
    border-radius: 4px 4px 0 0;
    color: #343738;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    text-shadow: none;
}
#req #messagenotif2 { position: absolute !important; margin-left: 150px;}
#messagenotif4{ left: 165px !important; }
.itinareray-form .reveal-modal { width: 800px !important; }
#messagenotif10 ,#messagenotif9 { left: 75px !important; }
#req #messagenotif4 {top: 0px !important;}
#req-1 { float: left; margin-left: 250px; margin-top: 10px; }
.custom-eguide-request input[name="reason"][type="text"], .form-row input[type="text"] { margin-left: 163px !important; }
.custom-eguide-request input[name="card"][type="text"],.custom-eguide-request input[name="price"][type="text"] { width:540px !important;}
#req #messagenotif6,#messagenotif7 {  left: 125px !important;  top: -15px !important; }
#req #messagenotif8 {left:-20px; top:-15px !important; }
#req #messagenotif1 { top: 45px !important; left:0px;  }
.row-2 .form-row {
    display: inline-block;
    margin-right: 34px;
    vertical-align: top;
    width: 45%;
} 

.range 
{
    webkit-appearance: none !important;
}

.input-radio {
    line-height: 23px;
}
.highcharts-button
{
display:none;
}
input#back 
{
float:left;
margin-top:20px;}
#req label {
  top: 0;
height:auto;
}
input[type="radio"] {
    
    margin-left: 163px !important;
}
.custom-eguide-request label.reason {
    line-height: 18px;
}
.custom-eguide-request label.duration {
    line-height: 18px !important;
}
.row-2 ,.row-3
{
display:none;
}

#datepicker
{
    
    margin-left:163px !important;
}

.uploadfile
{
  line-height: 18px !important;   
}
 #sliders {
    width: 44%;
    padding: 0 10% 0 10%;
    float:right;
    margin-top: 50px;
}
#sliders a {
    font-size: 90%;
    text-decoration: none;
}
#container {
    max-width: 250px;
    height: 250px;
   float:left;
   margin-left: -217px;
}

.clear{clear:both;}
.form-row > div {
    float: left;
    margin: 8px 0 0 8px;
    vertical-align: middle;
    width: 325px;
}
.row-2 .form-row > div {
    float: right;
    margin: 8px 0 0;
    vertical-align: middle;
    width: 215px;
}
.reveal-modal div select, .custom-eguide-request div select {
color:#777 !important;
}
.custom-eguide-request input[name="price"][type="text"]
{
   margin: 18px 0 35px 70px !important; 
}
.custom-eguide-request input[name="card"][type="text"] ,.custom-eguide-request input[name="cvc"][type="text"] ,.custom-eguide-request input[name="expiry-month"][type="text"] , .custom-eguide-request input[name="expiry-year"][type="text"] {
    margin: 0px 0 35px 70px !important;
}
.custom-eguide-request .select {
  margin-left: 19px !important;
}
.success-head{ text-align:center; color:#00A2FF; padding-bottom: 50px;
}
.success-icon-span{ left: 5px; position: relative; top: 5px;}
.success-icon-span img{float:none!important;}
#upload {
  margin-left: 163px;
  
  vertical-align: top;
  margin-top: 0 !important;
border:0  !important;
backgound:none !important;
background-color:#fff  !important;
box-shadow: none;
}
#pie {
    float: left;
    margin-bottom: 50px;
    width: auto;
}
#rangebox {
    display: inline-block;
    float: right;
    width: 50%;
      padding-top: 65px;
}
#rangebox input { margin: 0px; padding:0px; width: 200px;}
#rangebox tr td {padding :4px 2px 4px 5px;}
.range.Food-color {
    background: #5698c6 none repeat scroll 0 0;
}
.range.Drinking-color {
    background-color: #b3cae9;
}
.range.Shopping-color {
    background: #ff7f0e none repeat scroll 0 0;
}
.range.Activities-color {
    background: #ffcb98 none repeat scroll 0 0;
}
.range.Hotels-color {
    background: #34a434 none repeat scroll 0 0;
}
.range.Touches-color {
    background: #b1e6a6 none repeat scroll 0 0;
}
#pie text {
    display: none;
}
 .form-row input[type="text"] { margin-top:0 !important;}
.form-row-new.input-year { float:left !important; margin-left:65px; width:100px;top: 35px;}
.form-row-new.input-month{
    float:left !important;
    height: 67px;
    width: 110px;
}
.form-row-new.input-year select, .form-row-new.input-month select { width:100px; min-width:100px; margin-left:70px;}

.form-row-new.input-year select { margin-left:0px;}
.form-row-new.input-cvc { float:left;  width: 56%;
  /* border: 1px solid red; */
  margin-left: 18px;}
.form-row-new.input-cvc input[type="password"] { width:306px; margin-left:10px !important;}
.form-row-new.input-cvc label { width:180px;margin-bottom: 0px;}
.form-row-new.input-month label {line-height:20px;margin-left: 30px;text-align: center;}
.form-row-new.input-cvc .notif { left:0px !important; top:-14px !important;}
.form-row-new.input-year .notif {left:-135px !important; top:10px !important; width:100px;}
.form-row-new.input-month .notif { width:100px;  margin-left: -140px;
    top: 12px !important;}
.form-row-new.input-year, .form-row-new.input-month, .form-row-new.input-cvc { position:relative;} 
.card-img { float:right; text-align:center;margin-top:20px;}
.card-img img { margin-right:84px;}
#back.button {
    float: left;
    font-size: 20px;
    height: 42px !important;
    margin: 40px 0 0 170px;
    padding: 13px 10px 15px !important;
    text-transform: uppercase;
}
    .wrapper {
    height: 600px;
}
#jrange input {
    width: 200px;
}
#jrange div {
    font-size: 9pt;
}
.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
    background: none;
    background-color:lightsteelblue;
}
</style>
<div class="itinareray-form">
<div id="req" class="reveal-modal new">
<h2> Request An Itinerary  <a class="close-reveal-modal">&#215;</a> </h2>
    <div class="steps-section">
    
      <div class="step-block">
          <div id="block-1" class="number-block active-circle">1</div>
          <div class="clear"></div>
          <div class="step-label">Step 1</div>
      </div>      
      
      <div class="step-line-box">
        <div class="step-line"></div>
      </div>
      
       <div class="step-block">
          <div id="block-2" class="number-block">2</div>
          <div class="clear"></div>
          <div class="step-label">Step 2</div>
      </div>      
      
      <div class="step-line-box">
        <div class="step-line"></div>
      </div>
      
      <div class="step-block">
          <div id="block-3" class="number-block">3</div>
          <div class="clear"></div>
          <div class="step-label">Step 3</div>
      </div>
            
    </div>
    
    <div class="content">
        <form id="request_form" class="custom-eguide-request" enctype="multipart/form-data" action= "{{ path('e_guide_request_submit') }}"  method="POST">
<div id="row-1" class="row-1">
<label><span class="required" style="color: #F8A2A2 !important;">*</span>Country</label>
            <div class="form-row">
            {#<div class="select">
           
            <select name="country" class="country1" id="country-search-1" required="required">
            <option value=""></option>
                    {% for country in countries %}
                        <option id="{{ country.id }}" value="{{ country.name }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                </div>#}
<input type="text" name="country" class="country1" id="country-search-1" placeholder="Enter the country Name" required="required">  
 <p class="notif"><span id="messagenotif10" class="warning-notif"></span></p>
</div> 
<input type="hidden" id="newcoun" name="newcoun">
<label>Destination</label>
            <div class="form-row">
            	<input class="to-left" type="text" name="destination" id="google-place-search1"  />
               
            </div>
            <div class="clear:both"></div>
            <label class="reason"><span class="required" style="color: #F8A2A2 !important;">*</span>Why are you going?</label>
            <input name="reason" type="text">
            <p class="notif"><span id="messagenotif3" class="warning-notif"></span></p>
            <label class="duration"><span class="required" style="color: #F8A2A2 !important;">*</span>Duration (days)</label>
            <div class="form-row">
            <input name="duration" type="text" id="tripduration">
             <p class="notif"><span id="messagenotif9" class="warning-notif"></span></p>
             </div>
               {# <select name="duration" id="tripduration" onchange="abc()">
                    {% for duration in durations %}
                        <option value="{{ duration.id }}">{{ duration.name }}</option>
                    {% endfor %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>#}
            
            <div class="input-box">
            <label for="Date" class="required"><span class="required" style="color: #F8A2A2 !important;">*</span>Date</label>
                    <div class="input-datepicker">
                        <input name="tripplan1" id="datepicker" autocomplete="off" value="" readonly type="text"> 
                    </div>
                    {#<label for="Date" class="required">Date</label>
                     <div class="wrapper">
                     <div id="jrange" class="dates">
                  <input name="tripplan1" id="datepicker2" autocomplete="off" readonly="" type="text"/>
                <div></div>
                 </div>
                </div>#}
                </div>
                <div class="clear:both"></div>
                <div class="input-radio">
            <label></label>
            <input type="radio" class="tripplan" id="trip1" name="tripplan" value="unsure" onclick="trip()"> Unsure
            <input type="radio" class="tripplan" id="trip2" name="tripplan" value="besttime" onclick="trip()"> Best time to go
            </div>
            <br>
            <p class="notif"><span id="messagenotif4" class="warning-notif"></span></p>
             <label>Pace</label>
            <div class="select">
                <select name="pace" id="pace">
                    <option value="laidback">Laid Back</option>
                    <option value="comfort">Comfort</option>
                    <option value="fast_paced">Fast Paced</option>
                    <option value="mix_it_up">Mix it up</option>
                </select>
            </div>
        	<label>Trip Theme</label>
            <div class="select">
            	<select name="trip_theme" id="trip_theme">
            		{% for trip_theme in trip_themes %}
                        <option value="{{ trip_theme.id }}">{{ trip_theme.name }}</option>
                    {% endfor %}
            	</select>
            </div>

            {% if false %}
            <label>Category</label>
            <div class="select">
            	<select name="category">
            		{% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
            	</select>
            </div>

            {% endif %}
            <label>Who is going?</label>
            <div class="select">
            	<select name="good_for" id="good_for">
            		{% for goodfor in good_for %}
                        <option value="{{ goodfor.id }}">{{ goodfor.name }}</option>
                    {% endfor %}
            	</select>
            </div>
            
            <label>Experience</label>
            <div class="select">
                <select name="experience" id="experience">
                    <option value="on_beaten">On the beaten path</option>
                    <option value="off_beaten">Off the beaten path</option>
                    <option value="mixup">Mixture of both</option>
                </select>
            </div>
            {# <p class="notif"><span id="messagenotif4" class="warning-notif"></span></p>
            <label>Trip Budget</label>
        	{% include 'BugglMainBundle:LocalAuthor/Misc:budgetChooser.html.twig' with { 'inputname' : 'budgetserial' }%} #}
            <input name="budgetserial" type="hidden" value="3">
             <label>Trip Budget</label><br>
           {# <label>Food</label>
           <div id="food"></div><div class="application-food"></div>
            <div style="clear:both"></div>
            <input type="hidden" name="food" id="food1">
            
            <label>Drinking</label>
            <div id="drinking"></div>%<div class="application-drinking"></div>
            <div style="clear:both"></div>
            <input type="hidden" name="drinking" id="drinking1">

            <label>Shopping</label>
            <div id="shopping"></div><div class="application-shopping"></div>
            <div style="clear:both"></div>
            <input type="hidden" name="shopping" id="shopping1">

            <label>Activities</label>
            <div id="activities"></div><div class="application-activities"></div>
            <div style="clear:both"></div>
            <input type="hidden" name="activities" id="activities1">

            <label>Hotels</label>
            <div id="hotels"></div><div class="application-hotels" ></div>
            <div style="clear:both"></div>
            <input type="hidden" name="hotel" id="hotel">

            <label class="touches">Special Touches</label>
            <div id="special_touches"></div><div class="application-special_touches"></div>
            <div style="clear:both"></div>
            <input type="hidden" name="special_touches" id="special_touches1">#}

            <div style="clear:both"></div>
            {#<div id="container"  ></div>
		    <div id="sliders"></div><br>
            <div id="slider"></div>
	        <div style="clear:both"></div>#}

            <input id="nbSliders" type="hidden" min="2" max="6" value="6" />
            <div id="pie"></div>
            <table id="rangebox">
            <tbody></tbody>
            </table>
            <input type="hidden" id="validchart" value="96" />
            <div style="clear:both"></div>
            <p class="new_notif"><span id="messagenotif15"></span></p>
            <p id="notif_id" class="notif"><span id="messagenotif12" class="warning-notif"></span></p>

            <div style="clear:both"></div>
	    <div class="form-row desp-row">
 	   <label><span class="requires" style="color: #F8A2A2 !important;">*</span>Description</label>
            <textarea name="description"></textarea>
            <p class="notif"><span id="messagenotif2" class="warning-notif"></span></p>
	    </div>
         <div style="clear:both"></div>
            <div class="form-row">
            <label class="uploadfile">Already have some plans??</label>
            <input type="file" name="planfile" id="upload" >
            <p class="notif"><span id="messagenotif14" class="warning-notif"></span></p>
	    </div>
	    <input type="hidden" name="food" id="food1">
	    <input type="hidden" name="drinking" id="drinking1">
	    <input type="hidden" name="shopping" id="shopping1">
	    <input type="hidden" name="activities" id="activities1">
	    <input type="hidden" name="hotel" id="hotel">
	    <input type="hidden" name="special_touches" id="special_touches1">
		
	    <input type="button" id="req-1" value="REQUEST ITINERARY" class="button">
	    </div>
	    <div class="row-2" id="row-2">
	     {#<div class="form-row">
	    <label>Destination:</label>
            <div id="destination"></div>
	    </div>
	    <div class="form-row">
            <label>Duration:</label>
            <div id="duration"></div>
            </div>
	    <div class="form-row">
	    <label>Reason:</label>
            <div id="reason">
            </div>
</div>
<div class="form-row">
	    <label>Trip Plan:</label>
            <div id="tripdate">
            </div>
</div>
<div class="form-row">
            <label>Trip Theme:</label>
            <div id="trip">
            </div>
</div>
<div class="form-row">
	    <label>Who is going:</label>
            <div id="going_for">
            </div>
</div>
<div class="form-row">
	    <label>Pace:</label>
            <div id="pace2">
            </div>
</div>
<div class="form-row">
	    <label>Experience:</label>
            <div id="exp2">
            </div>
</div>
	    
	    <div class="form-row">
	    <label>Food:</label><div id="food2" name="food">%</div>
	    </div>
	    <div class="form-row">
	    <label>Drinking:</label><div id="drinking2">%</div>
	     </div>
	    <div class="form-row">
	    <label>Shopping:</label><div id="shopping2">%</div>
	     </div>
	    <div class="form-row">
	    <label>Hotel:</label><div id="activities2" >%</div>
	     </div>
	    <div class="form-row">
	    <label>Activities:</label><div id="hotel2">%</div>
	     </div>
	    <div class="form-row">
	    <label>Special touches:</label><div id="special_touches2">%           </div>
	     </div>
             <div class="clear"></div>#}
             
	     <div class="form-row-new pricing-box">
            {#<label class="price"><span class="required" style="color: #F8A2A2 !important;">*</span>What would you pay for this travel guide?</label>
            <input name="price" type="text">#}
            <div class="framed2-header">
            <h4>BASIC</h4>
            <h5>$49</h5>
            <p>Per day of trip planned</p>
            <p>100% money back guarantee</p>
            <p>An expert will share:</p>
            <p class="para">Accommodations, experiences (food, drink, shopping, etc.) and advice in transportation along with basic custom itinerary.</p>
            <div class="join">
           <div class="button" id="basic-plan" onclick="plan(49)"><span class="check-hide1"><img src="{{ asset('bundles/bugglmain/images/check-mark.png') }}" /></span>GET STARTED</div>
            </div>
            </div>
            <p class="notif"><span id="messagenotif1" class="warning-notif"></span></p>
           </div>
            <div class="form-row-new pricing-box">
            
            <div class="framed2-header">
            <h4>PREMIUM</h4>
            <h5>$89</h5>
            <p>Per day of trip planned</p>
            <p>100% money back guarantee</p>
            <p>An expert will share:</p>
            <p class="para"> Accommodation, experiences (food, drink, shopping, etc.), transportation and any local connections, deals or upgrades based on their knowledge along with a premier custom itinerary.</p>
            <div class="join">
            <div class="button" id="premium-plan" onclick="plan(89)"><span class="check-hide2"><img src="{{ asset('bundles/bugglmain/images/check-mark.png') }}" /></span>GET STARTED</div>
            </div>
            </div>

            <p class="notif"><span id="messagenotif1" class="warning-notif"></span></p>
           </div>

           <input name="plan_type" id="plan_type" type="hidden">
           <input name="price" id="price" type="hidden">
           <div class="clear"></div>
           <p class="totalprice"></p>
           <div class="card-img"><img src="{{ asset('bundles/bugglmain/images/card.jpg') }}"></div>
	    <div class="form-row-new">
                <label><span class="required" style="color: #F8A2A2 !important;">*</span>CARD NUMBER</label>
                <input type="text" size="20" name="card" autocomplete="off" class="card-number" /> 

            </div>
            <p class="notif"><span id="messagenotif8" class="warning-notif"></span></p>
           
            <div class="form-row-new input-month">
                <label><span class="required" style="color: #F8A2A2 !important;">*</span>EXPIRATION</label>
                <select  name="expiry-month" id="month" class="card-expiry-month">
                    <option value="">Month</option>
                        <option value="01" >01</option>
                        <option value="02" >02</option>
                        <option value="03" >03</option>
                        <option value="04" >04</option>
                        <option value="05" >05</option>
                        <option value="06" >06</option>
                        <option value="07" >07</option>
                        <option value="08" >08</option>
                        <option value="09" >09</option>
                        <option value="10" >10</option>
                        <option value="11" >11</option>
                        <option value="12" >12</option>
                        </select>
                
                <p class="notif"><span id="messagenotif6" class="warning-notif"></span></p>
                
            </div>
	    
            <div class="form-row-new input-year">
                
                 <select  name="expiry-year" id="year" class="card-expiry-year">
                     <option value="">Year</option>                        
                        <option value="2015" >2015</option>                        
                        <option value="2016" >2016</option>                        
                        <option value="2017" >2017</option>                        
                        <option value="2018" >2018</option>                        
                        <option value="2019" >2019</option>                        
                        <option value="2020" >2020</option>                        
                        <option value="2021" >2021</option>                        
                        <option value="2022" >2022</option>                        
                        <option value="2023" >2023</option>                        
                        <option value="2024" >2024</option>                        
                        <option value="2025" >2025</option>                        
                        <option value="2026" >2026</option>                        
                        <option value="2027" >2027</option>                        
                        <option value="2028" >2028</option>                        
                        <option value="2029" >2029</option>                        
                        <option value="2030" >2030</option>                        
                        <option value="2031" >2031</option>                        
                        <option value="2032" >2032</option>                        
                        <option value="2033" >2033</option>                        
                        <option value="2034" >2034</option>                        
                        <option value="2035" >2035</option>                        
                        <option value="2036" >2036</option>                        
                        <option value="2037" >2037</option>                        
                        <option value="2038" >2038</option>                        
                        <option value="2039" >2039</option>                        
                        <option value="2040" >2040</option>                        
                        <option value="2041" >2041</option>                        
                        <option value="2042" >2042</option>                        
                        <option value="2043" >2043</option>                        
                        <option value="2044" >2044</option>                        
                        <option value="2045" >2045</option>                        
                        <option value="2046" >2046</option>                        
                        <option value="2047" >2047</option>                        
                        <option value="2048" >2048</option>                        
                        <option value="2049" >2049</option>                        
                        <option value="2050" >2050</option>                        
                        <option value="2051" >2051</option>                        
                        <option value="2052" >2052</option>                        
                        <option value="2053" >2053</option>                        
                        <option value="2054" >2054</option>                        
                        <option value="2055" >2055</option>                        
                        <option value="2056" >2056</option>                        
                        <option value="2057" >2057</option>                        
                        <option value="2058" >2058</option>                        
                        <option value="2059" >2059</option>                        
                        <option value="2060" >2060</option>                        
                        <option value="2061" >2061</option>                        
                        <option value="2062" >2062</option>                        
                        <option value="2063" >2063</option>                        
                        <option value="2064" >2064</option>                        
                        <option value="2065" >2065</option>                        </select>
                        <p class="notif"><span id="messagenotif7" class="warning-notif"></span></p>
            </div>
            
             <div class="form-row-new input-cvc">
                <label><span class="required" style="color: #F8A2A2 !important;">*</span>SECURITY CODE (CVC)</label>
                <input type="password" name="cvc" size="4" autocomplete="off" class="card-cvc" />
                <p class="notif"><span id="messagenotif5" class="warning-notif"></span></p>
            </div>
            
             
            
            <input name="local_author_id" type="hidden" value="{{local_author_id}}">
	    <input type="hidden" name="stripetoken" id="stripeToken">
            <input name="email" type="hidden" value="{{email}}">
               <p class="notif"><span id="messagenotif11" class="warning-notif"></span></p>     
            <input name="userip" id="userip" type="hidden">
	    
            <input id="submitrequest" class="button" type="submit" value="SUBMIT">
	    <input id="back" class="button" type="button" value="Back">
	</div>
        </form>
	<div class="row-3" id="row-3">
<h1 class="success-head"> A custom itinerary is in the works! You'll be hearing from your expert shortly. <span class="success-icon-span"><img src="{{ asset('bundles/bugglmain/images/success-icon.png') }}"></span></h1>
	</div>
    </div>
</div>
</div>


      
