{% for messageToUser in messages %}
{% if(messageToUser.sender.id !=10) %}
	<li class="message {{ messageToUser.user.id == messageToUser.sender.id ? 'a' : 'b' }} {{ messageToUser | addOpenClass('unread') }}" id="{{ messageToUser.id }}">
		<a href="{{ path('local_author_profile',{'slug' : messageToUser.sender.slug}) }}" target="_blank"><img width="60" height="60" border="0" align="left" src="{{ asset( messageToUser.sender | userPic) }}"></a>
		<a href="{{ path('local_author_profile',{'slug' : messageToUser.sender.slug}) }}" target="_blank"><span class="name">{{ messageToUser.sender.name ~ (messageToUser.user.id == messageToUser.sender.id ? ' (me)' : '') }}</span></a>{% endif %}
		{% if(messageToUser.sender.id ==10) %}
		<li class="message ">
		<a href="#" target="_blank"><img width="60" height="60" border="0" align="left" src="{{ asset( messageToUser.sender | userPic) }}"></a>
		<a href="#" target="_blank"><span class="name">{{ messageToUser.sender.name ~ (messageToUser.user.id == messageToUser.sender.id ? ' (me)' : '') }}</span></a>
		{% endif %}
		<p>{{ messageToUser.message.content }} <span class="time">{{ messageToUser.message.dateCreated | showTimeElapsed }}</span></p>
	</li>
{% endfor %}