<aside class="column grid_4">
	<section class="profile">
		<nav class="clearfix clear">
			<a href="{{ path('local_author_gallery_spots') }}" class="{{active|selected('spots','active')}}"><span class="ico"></span>Places</a>
			<a href="{{ path('local_author_gallery') }}" class="{{active|selected('photos','active')}}"><span class="ico"></span>Photos</a>
			{#<a href="{{ path('local_author_gallery_videos') }}" class="{{active|selected('videos','active')}}"><span class="ico"></span>Videos</a> #}
		</nav>
	</section>
</aside>