<ul class="eguide-list site-admin-list">
    {% for list in lists %}
    <li class="clearfix">
        <div>
            <h3 class="to-left">{{ list.name }}</h3>
            <div class="input-edit to-left" style="display:none">
                <input type="text" name="category_name" value="{{ list.name }}" style="border:none" />
                <a href="" class="cancel-edit">x</a>
            </div>        
            <ul class="site-admin-list-actions to-right horizontalize"> 
                <li>
                    <a class="edit-category" href="">edit</a> 
                    <a class="save-category" href="{{ path('admin_category_save',{id:list.id}) }}" style="display:none">save</a>
                </li>
                {% if list.isPublished %}
                    <li><a href="{{ path('admin_activity_publish',{id:list.id,publish:false}) }}" onclick = "return confirm('Are you sure')">unpublish</a></li>
                {% else %}
                    <li><a href="{{ path('admin_activity_publish',{id:list.id,publish:true}) }}" onclick = "return confirm('Are you sure')">publish</a></li>    
                {% endif %}
            </ul>
        </div>
        <span class="loader" style="display:none">Saving</span>
    </li>
    {% endfor %}                                                            
</ul>